*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210,11%,15%);
    --paragraph: hsl(210,9%,31%);
    --paragraph-card: hsl(170,100%,26%);
    --primary-color-brand: hsl(39,100%,97%);
    --brand-light: hsl(148, 23%, 89%);
    --nav-height: 7.2rem;
    font-size: 62.5%;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
}

/*============== HEADER ==============*/

header::before{
    content:"";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display:block;

    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}

header{
    margin-top: calc(4.1rem + var(--nav-height));
}

header h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
    margin-top: 1.6rem;
}

header h4{
    font-size: 1.4rem;
    color: var(--primary-color);
}

header p{
    font-size: 1.8rem;
    color: var(--paragraph);
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

header button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    width: 26.3rem;
    height: 6.2rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-inline: auto;
}

header #nlw-foto{ 
    width: 26.4rem;
    margin-inline: auto;
    display:block;
    object-position: 0 2rem;    
}

.container-box{
    padding-top: 4rem;
    width: 32.7rem;
    background-color: var(--primary-color-brand);
    border-radius: 0.6rem;
    border: 1px solid #DCE9E2;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.m-box h3{
    height: 6.2rem;
    font-size: 4.8rem;
    font-weight:bold;
    line-height: 130%;
}

.m-box p{
    color: var(--paragraph-card);
    height: 2.4rem;
    line-height: 150%;
}

/* ============= NAVIGATION =============*/

nav{
    display:flex;
    height: var(--nav-height);
    position: fixed;
    top:0;
    left:50%;
    z-index: 2;
    transform: translateX(-50%);
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll{
    background-color: var(--primary-color);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll svg:nth-child(2) path{
    stroke:white;
}
